html, body {
  margin: 0; 
  padding: 0;
  background-image: url("htmlBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
canvas {
  display: block;
  margin: auto ;

}
h1{
  font-family: 'Caesar Dressing', cursive;
  font-size:3rem;
  text-align: center;
  margin-top: 25;
}

/*
font-family: 'Caesar Dressing', cursive;
font-family: 'Frijole', cursive;
*/